html{
    font-family: "Sour Gummy", sans-serif;
}
.Encabezado{
    box-shadow: 0 0 35px rgba(34, 5, 71, 0.4);
    border-radius: 50px;
}
.Encabezado h1{
    font-size: 3rem;
    text-align: center;
    color: rgba(154, 64, 214, 0.678);
}
.Tarjetas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
    border-radius: 5px;
    height: 50px;
    gap: 1rem;
}
footer{    
    text-align: center;    
}